*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
        border: 2px solid blue;
        margin: 8px;
        gap: 8px;

        display: grid;
       /* grid-template-columns: 80px 80px 80px; */
      /* grid-template-columns: 1fr 1fr 1fr; */
      /*grid-template-columns: minmax(0, 1fr) minmax(200px, 1fr); */
      /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
      /*grid-template-columns: repeat(4, minmax(50px, 1fr)); */
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 

      /*grid-template-rows: 200px 100px auto ; */
      /*grid-auto-rows: 100px;*/



}
@media screen and (max-width: 720px) {
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
    
.item{
    background-color: green;

}